.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightsalmon;
    border-radius: 6px;
    position: fixed;
    width: 97%;
    opacity: 0.8;
  }
.myli {
    float: left;
    border-left:1px solid #bbb;
  }
.myli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.myli a:hover:not(.active) {
    background-color: #111;
  }
.active {
  background-color: lightcoral;
}
.container {
  border-radius: 8px;
  background-color: white;
  background-image: url(bgimg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.headimg {
  height: 45px;
}
.mytable {
  opacity: 0.8;
  display: inline-block;
  font-style: italic;
  background-color: rgb(202, 181, 142);
  text-align: left;
  padding-right: 30px;
  border-radius: 8px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
li{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
footer{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
.column1{
  text-align: center;
  width: 30%;
  float: right;
  padding-top: 25%;
}
.column2{
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 70%;
  padding-top: 2%;
}
.myimg{
  width: 70%;
}
.threeD {
  color: darkgrey;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;
}

.threeD:hover {
  transition: 0.3s;
  transform: scale(1.1)translate(-50%, -50%);
  text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}


